body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}
nav {
    position: relative;
    background-color: white;
    z-index: 10;
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.dropdown-menu {
    display: none;
    position: absolute;
    width: 450px; /* Ajusta el ancho según tus necesidades */
    min-width: 500px; /* Asegura un ancho mínimo */
    z-index: 1000;
}
.dropdown-menu.show {
    display: block;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}
#overlay.show {
    display: block;
}
/* Estilos adicionales para mejorar la apariencia */
.form-select {
    padding: 0.25rem; /* Ajustar el padding para un cuadro más pequeño */
    font-size: 0.875rem; /* Tamaño de fuente más pequeño */
    background-color: #fff;
    width: 120px; /* Ajusta el ancho del select según sea necesario */
}

.btn {
    padding: 0.5rem 1rem;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}
